{% extends 'index.html' %}

{% block head %}
  
{% endblock %}

{% block content %}

<div class="transparentbox">
  <div class="row">
      <p><center><h1>Stroke Resources Page</h1></center></p>
  </div>
  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2016/11/27/21/42/stock-1863880_1280.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Stroke Facts</h5>
          <p class="card-text">Statistics from the United States.</p><br>
          <a href="https://www.cdc.gov/stroke/facts.htm" class="small-btn">Visit CDC</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1600959907703-125ba1374a12?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">First Aid For Stroke</h5>
          <p class="card-text">Immediate first steps if you think someone is having a stroke.</p>
          <a href="https://www.healthline.com/health/stroke/stroke-first-aid" class="small-btn">Visit Healthline</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1477332552946-cfb384aeaf1c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Stroke Recovery</h5>
          <p class="card-text">Short term and long term recovery timeline.</p><br>
          <a href="https://www.hopkinsmedicine.org/health/conditions-and-diseases/stroke/stroke-recovery-timeline" class="small-btn">Visit Johns Hopkins</a>
        </div>
      </div>
    </div>

  </div>

  <br>

  <div class="row">

      <div class="col-md-4">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1505150099521-fde7970bcc3a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Supporting a Stroke Survivor</h5>
              <p class="card-text">Helping a loved one adjust to change.</p><br>
              <a href="https://www.uofmhealth.org/health-library/hw223853" class="small-btn">Visit University of Michigan Health</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <img src="https://images.pexels.com/photos/325521/pexels-photo-325521.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">American Stroke Foundation</h5>
              <p class="card-text">Community support for all aspects of stroke treatment and recovery.</p>
              <a href="https://americanstroke.org" class="small-btn">Visit American Stroke Foundation</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Stroke Research</h5>
              <p class="card-text">Current and ongoing studies about strokes.</p><br>
              <a href="https://www.mayo.edu/research/clinical-trials/diseases-conditions/stroke" class="small-btn">Visit Mayo Clinic</a>
            </div>
          </div>
        </div>

  </div>
  <br>
</div>



{% endblock %}
